<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Transaksi</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <h2>Tambah Transaksi</h2>

        <!-- Form untuk Tambah Transaksi -->
        <form method="POST" action="{{ url_for('add_transaksi') }}">
            <label for="resi">Resi:</label>
            <input type="text" id="resi" name="resi" required>

            <label for="id_retail">Retail:</label>
            <select id="id_retail" name="id_retail" required>
                {% for retail in retails %}
                <option value="{{ retail.id_retail }}">{{ retail.nama_retail }}</option>
                {% endfor %}
            </select>

            <label for="jumlah_barang">Jumlah Barang:</label>
            <input type="number" id="jumlah_barang" name="jumlah_barang" required>

            <label for="total_harga">Total Harga (Rp):</label>
            <input type="number" id="total_harga" name="total_harga" required>

            <label for="total_berat">Total Berat (kg):</label>
            <input type="number" id="total_berat" name="total_berat" required>

            <button type="submit" class="crud-btn">Simpan</button>
        </form>
    </div>
</body>
</html>
